In [1]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
s_np1 = pd.Series(np.arange(6)) #利用numpy生成series的方法
data_numpy = np.array([1, 2, 3, 45], dtype=np.float32)
s_np2 = pd.Series(data_numpy)
print(s_np1)
print(s_np2)

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32
0     1.0
1     2.0
2     3.0
3    45.0
dtype: float32

In [5]:
# 通过numpy生成随机0-10的shape为(3, 4)的dataframe
df_np = pd.DataFrame(np.random.randint(low=0, high=10, size=(3, 4)))
print(df_np)

   0  1  2  3
0  4  0  5  2
1  4  3  5  5
2  2  1  0  5

In [6]:
df_index = pd.DataFrame(np.random.randn(3, 4), index=['f', 's', 't'])
print(df_index)

          0         1         2         3
f -0.489979 -1.032338 -0.973505 -0.521069
s -2.060882  0.206805  1.470601  0.942792
t -0.358026 -0.766205 -0.780459 -1.393039

In [7]:
df_colums = pd.DataFrame(np.arange(12).reshape((3, 4)), columns=['che', 'hong', 'shu', '24'])
print(df_colums)

   che  hong  shu  24
0    0     1    2   3
1    4     5    6   7
2    8     9   10  11

In [8]:
?np.random.randint()

In [9]:
#use dict to create dataframe
dates_value = pd.date_range('20181222', periods=3)
#dict的key对应于df的colomn
df_dict = pd.DataFrame({'che': 22.22,
                        'hong': pd.Series(np.array([1, 2, 3], dtype=np.float32)),
                        'shu': dates_value})
print(df_dict)

     che  hong        shu
0  22.22   1.0 2018-12-22
1  22.22   2.0 2018-12-23
2  22.22   3.0 2018-12-24

In [10]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3, 6, 9, 12], dtype=np.int32),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'che'})
print(df2)
print(df2.dtypes) #return the data type of each column.

     A          B    C   D      E    F
0  1.0 2013-01-02  1.0   3   test  che
1  1.0 2013-01-02  1.0   6  train  che
2  1.0 2013-01-02  1.0   9   test  che
3  1.0 2013-01-02  1.0  12  train  che
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
print(df2.index)
print(df2.columns)
print(df2.values)
# 返回数据类型为numpy可知取出元素其中一个方法是变成list之后取出即可
# 当然这个方法速度慢，有更好的内置取值的方法
print(type(df2.values))
print(df2.values)

Int64Index([0, 1, 2, 3], dtype='int64')
Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')
[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 6 'train' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 9 'test' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 12 'train' 'che']]
<class 'numpy.ndarray'>
[[1.0 Timestamp('2013-01-02 00:00:00') 1.0 3 'test' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 6 'train' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 9 'test' 'che']
 [1.0 Timestamp('2013-01-02 00:00:00') 1.0 12 'train' 'che']]

In [13]:
print(df2.T)  #转置
print(df2.sort_index(axis=1, ascending=False))  # axis=1 相当于colomn元素排序
print(df2.sort_index(axis=0, ascending=False))  # axis=0 相当于index排序

                     0                    1                    2  \
A                    1                    1                    1
B  2013-01-02 00:00:00  2013-01-02 00:00:00  2013-01-02 00:00:00
C                    1                    1                    1
D                    3                    6                    9
E                 test                train                 test
F                  che                  che                  che

                     3
A                    1
B  2013-01-02 00:00:00
C                    1
D                   12
E                train
F                  che
     F      E   D    C          B    A
0  che   test   3  1.0 2013-01-02  1.0
1  che  train   6  1.0 2013-01-02  1.0
2  che   test   9  1.0 2013-01-02  1.0
3  che  train  12  1.0 2013-01-02  1.0
     A          B    C   D      E    F
3  1.0 2013-01-02  1.0  12  train  che
2  1.0 2013-01-02  1.0   9   test  che
1  1.0 2013-01-02  1.0   6  train  che
0  1.0 2013-01-02  1.0   3   test  che

In [14]:
print(df2.sort_values(by='E')) #通过colomn为E的单位的value来排序（如果是数字则按数字大小排列，字母按字母大小）

     A          B    C   D      E    F
0  1.0 2013-01-02  1.0   3   test  che
2  1.0 2013-01-02  1.0   9   test  che
1  1.0 2013-01-02  1.0   6  train  che
3  1.0 2013-01-02  1.0  12  train  che

In [3]:
dates = pd.date_range('20121222',periods = 6)
df = pd.DataFrame(np.arange(24).reshape((6,4)),index=dates,columns=['A','B','C','D'])
print(df)

             A   B   C   D
2012-12-22   0   1   2   3
2012-12-23   4   5   6   7
2012-12-24   8   9  10  11
2012-12-25  12  13  14  15
2012-12-26  16  17  18  19
2012-12-27  20  21  22  23

In [4]:
df['A']
#df.A

2012-12-22     0
2012-12-23     4
2012-12-24     8
2012-12-25    12
2012-12-26    16
2012-12-27    20
Freq: D, Name: A, dtype: int32

In [5]:
df[0:3]

            A  B   C   D
2012-12-22  0  1   2   3
2012-12-23  4  5   6   7
2012-12-24  8  9  10  11

In [7]:
df.loc['20121224']

A     8
B     9
C    10
D    11
Name: 2012-12-24 00:00:00, dtype: int32

In [8]:
df.loc[:,'A':'C']

             A   B   C
2012-12-22   0   1   2
2012-12-23   4   5   6
2012-12-24   8   9  10
2012-12-25  12  13  14
2012-12-26  16  17  18
2012-12-27  20  21  22