In [6]:
import numpy as np
import pandas as pd

s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [7]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [8]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -0.136671 -0.438428  0.210202 -0.600739
2013-01-02  0.007862  1.131386  0.183874  0.781753
2013-01-03 -0.787422 -0.745550  1.744188 -0.850663
2013-01-04 -0.167103  1.128896  1.004580  0.908603
2013-01-05  0.174115 -0.287915 -0.373980  1.132153
2013-01-06  1.644408 -0.052162  0.252664  0.434143

In [10]:
df2 = pd.DataFrame({'A': 1.,
   ...:                     'B': pd.Timestamp('20130102'),
   ...:                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
   ...:                     'D': np.array([3] * 4, dtype='int32'),
   ...:                     'E': pd.Categorical(["test", "train", "test", "train"]),
   ...:                     'F': 'foo'})
   ...: 
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [11]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [12]:
df.head()

                   A         B         C         D
2013-01-01 -0.136671 -0.438428  0.210202 -0.600739
2013-01-02  0.007862  1.131386  0.183874  0.781753
2013-01-03 -0.787422 -0.745550  1.744188 -0.850663
2013-01-04 -0.167103  1.128896  1.004580  0.908603
2013-01-05  0.174115 -0.287915 -0.373980  1.132153

In [13]:
df.tail(3)

                   A         B         C         D
2013-01-04 -0.167103  1.128896  1.004580  0.908603
2013-01-05  0.174115 -0.287915 -0.373980  1.132153
2013-01-06  1.644408 -0.052162  0.252664  0.434143

In [14]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

In [17]:
df2.to_numpy()

AttributeError: 'DataFrame' object has no attribute 'to_numpy'

In [18]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.136671    0.007862   -0.787422   -0.167103    0.174115    1.644408
B   -0.438428    1.131386   -0.745550    1.128896   -0.287915   -0.052162
C    0.210202    0.183874    1.744188    1.004580   -0.373980    0.252664
D   -0.600739    0.781753   -0.850663    0.908603    1.132153    0.434143

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.600739  0.210202 -0.438428 -0.136671
2013-01-02  0.781753  0.183874  1.131386  0.007862
2013-01-03 -0.850663  1.744188 -0.745550 -0.787422
2013-01-04  0.908603  1.004580  1.128896 -0.167103
2013-01-05  1.132153 -0.373980 -0.287915  0.174115
2013-01-06  0.434143  0.252664 -0.052162  1.644408

In [22]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03 -0.787422 -0.745550  1.744188 -0.850663
2013-01-01 -0.136671 -0.438428  0.210202 -0.600739
2013-01-05  0.174115 -0.287915 -0.373980  1.132153
2013-01-06  1.644408 -0.052162  0.252664  0.434143
2013-01-04 -0.167103  1.128896  1.004580  0.908603
2013-01-02  0.007862  1.131386  0.183874  0.781753